

{% block title %}Tableau de Bord{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}



<div class="menu">
titre
</div>

<div class="content">
<p>nombre de clients : {{listUser}}</p>
</div>


{% endblock %}
