{% extends 'base.html.twig' %}


{% block title %}My Cars{% endblock %}

{% block body %}


<h1 class="text-3xl font-bold underline">My cars</h1>

<a href="/createacar"> Create a New Car </a>


{% endblock %}
